name: pip-no-cache

on:
  push:
    paths:
      - python-script/requirements.txt

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8

      - name: Check cache hit
        if: steps.pip-cache.outputs.cache-hit != 'true'
        run: pip install -r python-script/requirements.txt
