name: s3-local

on:
  pull_request:

jobs:
  s3:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2

      - name: run minio
        run: |
          docker run -d -p 9000:9000 --name minio \
                     -e "MINIO_ACCESS_KEY=ABCDEFGHIJKLMN" \
                     -e "MINIO_SECRET_KEY=0123456789" \
                     -v /tmp/data:/data \
                     -v /tmp/config:/root/.minio \
                     minio/minio server /data
      - name: check s3 command
        env:
          MINO_ACCESS_KEY: "ABCDEFGHIJKLMN"
          MINIO_SECRET_KEY: "0123456789"
        run: |
          aws --endpoint-url http://127.0.0.1:9000/ s3 mb s3://bucket01

          # バケツ確認
          aws --endpoint-url http://127.0.0.1:9000/ s3 ls

          # ファイル作成
          date +"%Y-%m-%d %H:%M:%S" > ~/now.txt
          cat ~/now.txt

          # アップロード
          aws --endpoint-url http://127.0.0.1:9000/ s3 cp ~/now.txt s3://bucket01

          # アップロード・ファイル確認
          aws --endpoint-url http://127.0.0.1:9000/ s3 ls s3://bucket01

          # バケツ内のファイル削除
          aws --endpoint-url http://127.0.0.1:9000/ s3 rm s3://bucket01/now.txt

          # バケツ削除
          aws --endpoint-url http://127.0.0.1:9000/ s3 rb s3://bucket01
